.chat {
  flex: 0.75;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: hsl(221, 50%, 88%);
  padding: 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.headerInfo {
  flex: 1;
  padding-left: 20px;
}

.headerInfo > h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
}

.headerInfo > p {
  color: gray;
  margin: 0;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
}

.body::-webkit-scrollbar {
  width: 3px;
}

.body::-webkit-scrollbar-track {
  background: #aaa;
}

.body::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 25px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgrey;
  gap: 20px;
  padding: 10px 20px;
}

.footer > form {
  flex: 1;
  display: flex;
}

.footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  outline: none;
}
